.text-center {
    text-align: center;
  }
  
  .full-width {
    width: 100%;
  }
  
  .flex-item {
    margin-bottom: 16px;
  }
  
  .education-group {
    margin-bottom: 24px;
  }
  
  .mat-form-field {
    margin-bottom: 16px;
  }
  
  @media (max-width: 600px) {
    .full-width {
      width: 100%;
    }
    
    .flex-item {
      width: 100%;
    }
  }
  .duration-radio-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  
  .duration-radio-button {
    font-size: 16px;
    margin-right: 15px;
  }

  .cv-button {
    background-color: #242d13;
    color: #c5b391;
    margin-left: 10px;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #3a4623; /* Lighter version of #242d13 */
    }
    .cv-icon {
        margin-right: 4px; /* Space between icon and text */
      }
  }

  .education-margin {
    margin-bottom: 15px;
  }
  

  .plan-card-row {
    display: flex; /* Use flexbox to arrange children in a row */
    justify-content: space-between; /* Space out the cards evenly */
    flex-wrap: wrap; /* Allow wrapping to next line if necessary */
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .plan-card {
    flex: 1; /* Allow cards to grow equally */
    cursor: pointer;
    transition: box-shadow 0.3s;
    border: 1px solid #ccc; /* Optional: border for cards */
  }

  .plan-card:nth-child(2) {
    margin-left: 20px; /* Adjust this value as needed */
    margin-right: 20px; /* Adjust this value as needed */
  }
  
  .plan-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hover effect */
  }
  
  .selected-plan-card {
    background-color: #283316; /* Darker variation for the border */
    color: #c5b391;
    box-shadow: 0 4px 16px rgba(40, 51, 22, 0.3); /* Lighter variation for the shadow */
  }

  .search-input {
    width: 100%;                /* Full width */
    padding: 10px 12px;        /* Padding for better touch targets */
  }
  .search-input-container {
    margin-top: 8px; /* Adjust the spacing between select and input */
    width: 100%; /* Ensure full width */
  }

  ::ng-deep .mat-option.mat-selected {
    color: #283316 !important; /* Text color of the selected option */
  }
  ::ng-deep .mat-option.mat-selected .mat-checkbox-background {
    background-color: #283316 !important; /* Checkbox background color when checked */
  }
  ::ng-deep .mat-option.mat-selected .mat-checkbox-checked .mat-checkbox-checkmark {
    background-color: #283316 !important; /* Checkmark color when checked */
  }
  ::ng-deep .mat-pseudo-checkbox.mat-pseudo-checkbox-checked{
    background-color: #283316 !important; 
  }

  .search-button {
    height: 50px; 
    background-color: #283316;
    &:hover {
      background-color: #3a4623; /* Lighter version of #242d13 */
    }
    display: flex; /* Ensure flex layout */
    align-items: center; /* Center items vertically */
    
    .search-icon {
      margin-right: 4px; /* Space between icon and text */
    }
  }
