.text-center {
    text-align: center;
  }
  
  .full-width {
    width: 100%;
  }
  
  .flex-item {
    margin-bottom: 16px;
  }
  
  .education-group {
    margin-bottom: 24px;
  }
  
  .mat-form-field {
    margin-bottom: 16px;
  }
  
  @media (max-width: 600px) {
    .full-width {
      width: 100%;
    }
    
    .flex-item {
      width: 100%;
    }
  }
  .duration-radio-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  
  .duration-radio-button {
    font-size: 16px;
    margin-right: 15px;
  }

  .cv-button {
    background-color: #242d13;
    color: #c5b391;
    margin-left: 10px;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #3a4623; /* Lighter version of #242d13 */
    }
    .cv-icon {
        margin-right: 4px; /* Space between icon and text */
      }
  }

  .education-margin {
    margin-bottom: 15px;
  }
  