<mat-card class="filter-card" style="border: 1px solid #283316;">
  <mat-card-title style="font-size: 20px; color: #283316; font-weight: 500;">Dodatna pretraga</mat-card-title>
  <mat-divider style="background-color: #283316;"></mat-divider>
  <mat-card-content style="margin-top: 25px;">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" #filterForm="ngForm" fxLayout="column" fxLayoutAlign="center">
      <div fxLayout="row wrap" fxLayoutGap="10px" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
        <div fxFlex="30%" fxFlex.lt-md="45%">
          <div fxLayout="column">
            <mat-label class="bold-label">Ključna riječ</mat-label>
            <mat-form-field appearance="outline" class="filter-field">
              <input type="text" formControlName="searchKeyword" matInput placeholder="Unesite ključnu riječ">
            </mat-form-field>
          </div>
        </div>

        <div fxFlex="30%" fxFlex.lt-md="45%">
          <div fxLayout="column">
            <mat-label class="bold-label">Grad</mat-label>
            <mat-form-field appearance="outline">
              <mat-select 
                #citySelect
                formControlName="cityIds" 
                placeholder="Odaberite grad" 
                multiple 
                [panelClass]="'custom-select-panel'"
                (openedChange)="resetSearch('cityIds')"
              >
                <div style="display: flex; justify-content: space-between;">
                  <input 
                    matInput 
                    placeholder="Pretraži" 
                    (keyup)="onKey($event.target.value, 'cityIds')" 
                    class="search-input" 
                    [value]="citieSearchKeyword"
                    style="width: 100%; box-sizing: border-box;" 
                  />
                  <button mat-icon-button (click)="onKey('', 'cityIds')" *ngIf="citieSearchKeyword">
                    <mat-icon>clear</mat-icon>
                  </button>
                </div>
        
                <mat-option 
                  *ngIf="!isCitiesSearchActive" 
                  #allCitiesSelected 
                  (click)="toggleAllSelection('cityIds')" 
                  [value]="selectAllId"
                >
                  Sve
                </mat-option>
                <mat-option 
                  *ngFor="let city of filteredCities" 
                  [value]="city.id"
                  (click)="onSelectionChange(city.id, 'cityIds')"
                >
                  {{ city.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        
        

        <div fxFlex="30%" fxFlex.lt-md="45%">
          <div fxLayout="column">
            <mat-label class="bold-label">Kategorija</mat-label>
            <mat-form-field appearance="outline">
              <mat-select 
                #categorySelect
                formControlName="jobCategoryIds" 
                placeholder="Odaberite kategoriju" 
                multiple 
                [panelClass]="'custom-select-panel'"
              >
                

                <div style="display: flex; justify-content: space-between;">
                  <input 
                  #searchInput
                  matInput 
                  placeholder="Pretraži" 
                  (keyup)="onKey($event.target.value, 'jobCategoryIds')" 
                  class="search-input" 
                  [value]="jobCategoriesSearchKeyword"
                />
                  <button mat-icon-button (click)="onKey('', 'jobCategoryIds')" *ngIf="jobCategoriesSearchKeyword">
                    <mat-icon>clear</mat-icon>
                  </button>
                </div>
        
                <mat-option 
                  *ngIf="!isCategoriesSearchActive" 
                  #allJobCategoriesSelected 
                  (click)="toggleAllSelection('jobCategoryIds')" 
                  [value]="selectAllId"
                >
                  Sve
                </mat-option>
        
                <mat-option 
                  *ngFor="let category of filteredCategories" 
                  [value]="category.id" 
                  (click)="onSelectionChange(category.id, 'jobCategoryIds')"
                >
                  {{ category.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        
        <div fxFlex="30%" fxFlex.lt-md="45%">
          <div fxLayout="column">
            <mat-label class="bold-label">Tip posla</mat-label>
            <mat-form-field appearance="outline">
              <mat-select 
                #jobTypeSelect
                formControlName="jobCategoryIds" 
                placeholder="Odaberite tip posla" 
                multiple 
                [panelClass]="'custom-select-panel'"
              >

        
                <div style="display: flex; justify-content: space-between;">
                  <input 
                  matInput 
                  placeholder="Pretraži" 
                  (keyup)="onKey($event.target.value, 'jobTypeIds')" 
                  class="search-input" 
                  [value]="jobTypesSearchKeyword"
                />
                  <button mat-icon-button (click)="onKey('', 'jobTypeIds')" *ngIf="jobTypesSearchKeyword">
                    <mat-icon>clear</mat-icon>
                  </button>
                </div>
                <mat-option 
                  *ngIf="!isJobTypesSearchActive" 
                  #allJobTypesSelected 
                  (click)="toggleAllSelection('jobTypeIds')" 
                  [value]="selectAllId"
                >
                  Sve
                </mat-option>
        
                <mat-option 
                  *ngFor="let jobType of filteredJobTypes" 
                  [value]="jobType.id" 
                  (click)="onSelectionChange(jobType.id, 'jobTypeIds')"
                >
                  {{ jobType.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div fxFlex="30%" fxFlex.lt-md="45%">
          <div fxLayout="column">
            <mat-label class="bold-label">Period od</mat-label>
            <mat-form-field appearance="outline">
              <input matInput [matDatepicker]="startDatePicker" formControlName="fromDate" placeholder="Odaberite datum">
              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div fxFlex="30%" fxFlex.lt-md="45%">
          <div fxLayout="column">
            <mat-label class="bold-label">Period do</mat-label>
            <mat-form-field appearance="outline">
              <input matInput [matDatepicker]="endDatePicker" formControlName="toDate" placeholder="Odaberite datum">
              <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
              <mat-error *ngIf="form.get('toDate').hasError('toDateGreaterThanFromDate')">
                Period do mora biti veći ili jednak periodu od.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button color="primary" type="submit" fxFlex="30%" fxFlex.lt-md="45%" style="height: 50px; background-color: #283316;">Traži</button>

      </div>

    </form>
  </mat-card-content>
</mat-card>
