/* Job Card Styles */
.job-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #FFFFFF; /* White background */
    transition: box-shadow 0.3s, border-color 0.3s;
    height: 100%; 
    padding: 0px;
    padding-bottom: 20px;
    &:hover {
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4); /* Darker and larger shadow */
      border-color: #a8996e; /* Slightly darker border color on hover */
    }
}

.job-card mat-card-header {
    background-color: #283316; /* Light teal background for the header */
    color: #edd79c; /* Dark teal text for contrast */
}

.job-info, .job-details {
    padding: 15px;
    padding-left: 20px;
    height: 100%;
    color: #333; /* Dark grey text for readability */
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.job-info {
    max-height: 15px;
}

.job-details {
    padding-top: 0;
}

.card-actions {
    padding-left: 20px;
}

.job-info h4, .job-details h4 {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: bold;
    color: #283316; /* Dark teal for headings */
}

.job-info p, .job-details p {
    margin-bottom: 12px;
    line-height: 1.6; /* Improved line height for readability */
}

.job-link {
    color: #283316; /* Bright blue color for links */
    text-decoration: none;
}

/* .job-link:hover {
    text-decoration: underline;
} */

:host ::ng-deep .mat-card-header-text {
    margin: 8px !important;
}

:host ::ng-deep .mat-card-content {
    margin-bottom: 0px !important;
}

/* Filter Drawer */
.filter-drawer {
    width: 250px;
}

.mat-card-header {
    padding: 16px; /* Adjust as needed */
    background-color: #283316; /* Light teal background for the header */
    color: #edd79c; 
    border: 0;
}

.mat-card-header-content {
    margin: 0; /* Adjust if needed */
}

.mat-card-header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.email-button {
    background-color: #c5b391;
    color: #283316;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #a8996e; /* Darker version of #c5b391 */
    }
    .email-icon {
        margin-right: 4px; /* Space between icon and text */
      }
  }
  
  .cv-button {
    background-color: #242d13;
    color: #c5b391;
    margin-left: 10px;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #3a4623; /* Lighter version of #242d13 */
    }
    .cv-icon {
        margin-right: 4px; /* Space between icon and text */
      }
  }
  
 
.badge {
    height: 16px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Badge Colors for Different Packages */
  .badge.Base {
    background-color: #336699 !important;
    color: white !important;
  }
  
  .badge.Plus {
    border: 1px solid #FF9800 !important;
    background-color: #FF9800  !important;
    color: white !important;
  }
  
  .badge.Premium {
    background-color: #8E44AD !important;
    color: white !important;
  }