<div *ngIf="job" fxLayout="row" fxLayoutAlign="center" style="margin-top: 100px;">
  <mat-card class="text-center" fxFlex="40" fxFlex.lt-sm="90" fxFlex.lt-md="60" fxFlex.lt-lg="50">
    <mat-card-title class="my-4">
      Uredi objavu
    </mat-card-title>
        <mat-card-content class="mt-5">
      <form [formGroup]="adUpdateForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center">
        <div *ngIf="!isJobInStatusClosedOrDeleted" fxFlex="45" fxFlex.lt-sm="90" style="margin-bottom: 20px; display: flex; align-items: start;">
          <button mat-raised-button color="warn" (click)="deleteAd($event)">Obriši objavu</button>
        </div>
        <div *ngIf="!isJobInStatusClosedOrDeleted" fxFlex="45" fxFlex.lt-sm="90" style="margin-bottom: 20px; display: flex; align-items: start;">
          <button mat-raised-button color="primary" (click)="closeAd($event)">Završi objavu</button>
        </div>
        <div *ngIf="canJobBeReactivated" fxFlex="45" fxFlex.lt-sm="90" style="margin-bottom: 20px; display: flex; align-items: start;">
          <button mat-raised-button color="primary" (click)="reactivateAd($event)">Reaktiviraj objavu</button>
        </div>
        <div style="display: flex; flex-direction: column; gap: 10px; margin-bottom: 20px;">
          <div style="display: flex; text-align: start;">
            <span style="font-weight: bold; margin-right: 10px; width: 200px;">Status oglasa:</span>
            <span>{{ getEnumStatusValue(job.jobPostStatusId) }}</span>
          </div>
          <div style="display: flex; text-align: start;">
            <span style="font-weight: bold; margin-right: 10px; width: 200px;">Period trajanja oglasa:</span>
            <span>{{ job.adDuration }} dana</span>
          </div>
          <div style="display: flex; text-align: start;">
            <span style="font-weight: bold; margin-right: 10px; width: 200px;">Datum početka objave:</span>
            <span>{{ job.adStartDate | date: 'dd.MM.yyyy' }}</span>
          </div>
          <div style="display: flex; text-align: start;">
            <span style="font-weight: bold; margin-right: 10px; width: 200px;">Datum isteka objave:</span>
            <span>{{ job.adEndDate | date: 'dd.MM.yyyy' }}</span>
          </div>
        </div>

        <input type="hidden" formControlName="id">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Tip oglasa</mat-label>
          <mat-select formControlName="advertisementTypeId" placeholder="Odaberite tip oglasa">
            <mat-option *ngFor="let adType of advertisementTypes" [value]="adType?.id">{{ adType?.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Details about user -->
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px" fxLayoutAlign="start center">
          <mat-form-field appearance="outline" fxFlex class="flex-item full-width">
            <mat-label>Ime</mat-label>
            <input matInput type="text" formControlName="applicantFirstName" placeholder="Unesite ime" required />
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex class="flex-item full-width">
            <mat-label>Prezime</mat-label>
            <input matInput type="text" formControlName="applicantLastName" placeholder="Unesite prezime" required />
          </mat-form-field>
        </div>
        
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px" fxLayoutAlign="start center">
          <mat-form-field appearance="outline" fxFlex class="flex-item full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="applicantEmail" placeholder="Unesite email" required />
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex class="flex-item full-width">
            <mat-label>Broj telefona</mat-label>
            <input matInput type="tel" formControlName="applicantPhoneNumber" placeholder="Unesite broj telefona" required />
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Spol</mat-label>
          <mat-select formControlName="applicantGender" placeholder="Odaberite spol">
            <mat-option *ngFor="let gender of genders" [value]="gender">{{ genderName(gender) }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Datum rođenja</mat-label>
          <input matInput [matDatepicker]="dobPicker" formControlName="applicantDateOfBirth">
          <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
          <mat-datepicker #dobPicker></mat-datepicker>
        </mat-form-field>
        
        <div formArrayName="applicantEducations">
          <div *ngFor="let education of applicantEducations.controls; let i = index" [formGroupName]="i" class="education-group">
            <h3>Obrazovanje {{ i + 1 }}</h3>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Univerzitet</mat-label>
              <input matInput type="text" formControlName="university" placeholder="Unesite univerzitet" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Fakultet</mat-label>
              <input matInput type="text" formControlName="institutionName" placeholder="Unesite fakultet" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Odsjek</mat-label>
              <input matInput type="text" formControlName="fieldOfStudy" placeholder="Unesite odsjek" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Zvanje</mat-label>
              <input matInput type="text" formControlName="degree" placeholder="Unesite zvanje" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Godina početka studija</mat-label>
              <input matInput type="number" formControlName="educationStartYear" placeholder="Unesite godinu početka studija" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Godina kraja studija</mat-label>
              <input matInput type="number" formControlName="educationEndYear" placeholder="Unesite godinu kraja studija">
            </mat-form-field>
            <button *ngIf="!isJobInStatusClosedOrDeleted" mat-button type="button" color="warn" (click)="removeEducation(i)">Ukloni obrazovanje</button>
          </div>
        </div>
        <button *ngIf="!isJobInStatusClosedOrDeleted" mat-raised-button color="primary" type="button" style="margin-bottom: 25px;" (click)="addEducation()">Dodaj obrazovanje</button>
        
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px" fxLayoutAlign="start center">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Država</mat-label>
            <mat-select formControlName="countryId" placeholder="Odaberite državu">
              <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Grad</mat-label>
            <mat-select formControlName="cityId" placeholder="Odaberite grad">
              <mat-option *ngFor="let city of cities" [value]="city?.id">{{ city?.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Details about job and skills -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Pozicija</mat-label>
          <input matInput type="text" formControlName="position" placeholder="Unesite poziciju" required />
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Biografija</mat-label>
          <textarea matInput formControlName="biography" rows="4" placeholder="Unesite biografiju" required></textarea>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="95" fxFlex.lt-sm="90"
        style="margin-bottom: 20px;">
        <!-- Upload Button and Selected File in One Row -->
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <!-- Styled File Input -->
            <button mat-raised-button color="primary" (click)="fileInput.click()" type="button">
                <mat-icon>attach_file</mat-icon> Učitaj CV
            </button>
            <input #fileInput type="file" (change)="onFileSelected($event)"
                accept=".pdf, .doc, .docx, .txt, .jpg, .png, .xlsx, .pptx" hidden />

            <!-- Show Selected File Name with Remove Option -->
            <div *ngIf="selectedFileName" fxLayout="row" fxLayoutAlign="start center"
                (click)="openFilePreview()" style="cursor: pointer;">
                <mat-icon>description</mat-icon>
                <span class="selected-file-text">Odabrani CV: {{ selectedFileName }}</span>
                <button mat-icon-button color="warn" (click)="removeSelectedFile($event)">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <button type="button" *ngIf="job.cvFilePath" mat-raised-button style="margin-left: 10px; color: #B2DFDB; background-color: #004D40;" (click)="previewUserCV(job.cvFilePath)"
            color="accent">Pregledaj CV
          </button>
          <button type="button" *ngIf="job.cvFilePath" mat-raised-button color="warn" style="margin-left: 10px;" (click)="deleteExistingFile($event)">
            <mat-icon>delete</mat-icon> Obriši CV
          </button>
        </div>
    </div>

    <!-- PDF Preview Modal -->
    <ng-template #filePreviewModal let-dialogRef="dialogRef">
        <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <h2 mat-dialog-title style="margin: 0;">Pregled učitanog CV-a</h2>
                <button mat-icon-button style="margin-bottom: 20px;" (click)="dialogRef.close()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>

            <mat-dialog-content>
                <ngx-doc-viewer [url]="selectedFilePath" viewer="pdf"
                    style="width: 100%; height: 800px;"></ngx-doc-viewer>
            </mat-dialog-content>

            <mat-dialog-actions align="end">
                <button mat-button mat-dialog-close>Zatvori</button>
            </mat-dialog-actions>
        </div>
    </ng-template>

        <mat-form-field *ngIf="selectedAdvertisementType == AdvertisementTypeEnum.Service" appearance="outline" class="full-width">
          <mat-label>Cijena usluge</mat-label>
          <input matInput type="number" formControlName="price" placeholder="Unesite cijenu" />
        </mat-form-field>
        
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px" fxLayoutAlign="start stretch">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Kategorija posla</mat-label>
            <mat-select formControlName="jobCategoryId" (selectionChange)="onCategoryChange($event.value)">
              <mat-option *ngFor="let category of jobCategories" [value]="category?.id">{{ category?.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Tip posla</mat-label>
          <mat-select formControlName="jobTypeId" placeholder="Odaberite tip posla">
            <mat-option *ngFor="let jobType of jobTypes" [value]="jobType?.id">{{ jobType?.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <button *ngIf="!isJobInStatusClosedOrDeleted" mat-raised-button color="primary" type="submit">Uredi objavu</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
