/* .job-details-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  } */

  .job-details-content {
    flex-grow: 1;
  }
  
  .job-info, .job-biography {
    margin-bottom: 20px;
  }
  
  .job-info p, .job-biography p {
    margin-bottom: 5px;
  }
  
  .readonly-input {
    border: none;
    background-color: transparent;
    cursor: default; /* Prevent cursor change */
    pointer-events: none;
  }
  

  /* Add this CSS to your styles.scss or component-specific CSS file */

.mat-form-field-disabled .mat-form-field-wrapper {
    background-color: transparent; /* Change background color */
  }
  
  .mat-form-field-disabled .mat-form-field-label {
    color: black; /* Change label color */
  }
  
  .mat-form-field-disabled .mat-form-field-underline {
    background-color: #2196F3; /* Change underline color */
  }
  
  .readonly-input {
    cursor: default; /* Prevent cursor change */
  }
  .job-details-container {
    width: 85%;
    margin: 0 auto; /* Center the container horizontally */
  }
  

  /* mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    margin-left: 0;
    margin-right: auto;
  }
  
  .actions {
    margin-right: 0;
    margin-left: auto;
  } */

  
.job-card {
  border: 1px solid #283316;
  border-radius: 4px;
}

.education-margin {
  margin-bottom: 15px;
}
.full-width {
  width: 100%;
}


.search-input {
  width: 100%;                /* Full width */
  padding: 10px 12px;        /* Padding for better touch targets */
}
.search-input-container {
  margin-top: 8px; /* Adjust the spacing between select and input */
  width: 100%; /* Ensure full width */
}

::ng-deep .mat-option.mat-selected {
  color: #283316 !important; /* Text color of the selected option */
}
::ng-deep .mat-option.mat-selected .mat-checkbox-background {
  background-color: #283316 !important; /* Checkbox background color when checked */
}
::ng-deep .mat-option.mat-selected .mat-checkbox-checked .mat-checkbox-checkmark {
  background-color: #283316 !important; /* Checkmark color when checked */
}
::ng-deep .mat-pseudo-checkbox.mat-pseudo-checkbox-checked{
  background-color: #283316 !important; 
}

.search-button {
  height: 50px; 
  background-color: #283316;
  &:hover {
    background-color: #3a4623; /* Lighter version of #242d13 */
  }
  display: flex; /* Ensure flex layout */
  align-items: center; /* Center items vertically */
  
  .search-icon {
    margin-right: 4px; /* Space between icon and text */
  }
}