<div class="container">
  <mat-card
    style="border: 1px solid #283316; background-color: #eee9e0; margin-bottom: 30px; margin-top: 20px; display: flex; text-align: center; justify-content: center;">
    <h1 style="color: #283316; font-weight: 500;">Moji oglasi</h1>
  </mat-card>
  <mat-card>

    <mat-tab-group (selectedTabChange)="onTabChanged($event)">
      <mat-tab label="Aktivni oglasi">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutGap.xs="5px" fxLayoutAlign="start stretch" fxLayoutWrap>
          <!-- Job Cards -->
          <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">

            <div *ngFor="let job of activeJobs" class="job-link" style="margin-bottom: 10px;">
              <app-base-ad-card [job]="job" [isParentMyAdsComponent]="true">
                <div custom-buttons>
                  <button mat-button style="color: white; background-color: #283316;"
                  [routerLink]="['/my-ads', job.id]">Uredi objavu</button>
                <button mat-button color="warn" (click)="deleteAd(job.id)">Obriši objavu</button>
                </div>
              </app-base-ad-card>
            </div>
          </div>
        </div>
        <app-pagination *ngIf="activeAdsPaginationResponse" [listSize]="activeAdsPaginationResponse.pageSize"
          [totalPages]="activeAdsPaginationResponse.totalPages" [page]="activeAdsPaginationResponse.currentPage"
          (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
        </app-pagination>
      </mat-tab>
      <mat-tab label="Završeni oglasi">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutGap.xs="5px" fxLayoutAlign="start stretch" fxLayoutWrap>
          <!-- Job Cards -->
          <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">

            <div *ngFor="let job of closedJobs" class="job-link" style="margin-bottom: 10px;">
              <app-base-ad-card [job]="job" [isParentMyAdsComponent]="true">
                <div custom-buttons>
                  <button mat-button style="color: white; background-color: #283316;"
                  [routerLink]="['/my-ads', job.id]">Uredi objavu</button>
                <button mat-button color="warn" (click)="deleteAd(job.id)">Obriši objavu</button>
                </div>
              </app-base-ad-card>
            </div>
          </div>
        </div>
        <app-pagination *ngIf="closedAdsPaginationResponse" [listSize]="closedAdsPaginationResponse.pageSize"
          [totalPages]="closedAdsPaginationResponse.totalPages" [page]="closedAdsPaginationResponse.currentPage"
          (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
        </app-pagination>
      </mat-tab>
      <mat-tab label="Obrisani oglasi">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutGap.xs="5px" fxLayoutAlign="start stretch" fxLayoutWrap>
          <!-- Job Cards -->
          <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">

            <div *ngFor="let job of deletedJobs" class="job-link" style="margin-bottom: 10px;">
              <app-base-ad-card [job]="job" [isParentMyAdsComponent]="true">
                <div custom-buttons>
                  <button mat-button style="color: white; background-color: #283316;"
                    [routerLink]="['/my-ads', job.id]">Pregled objave</button>
                </div>
              </app-base-ad-card>
            </div>
          </div>
        </div>
        <app-pagination *ngIf="deletedAdsPaginationResponse" [listSize]="deletedAdsPaginationResponse.pageSize"
          [totalPages]="deletedAdsPaginationResponse.totalPages" [page]="deletedAdsPaginationResponse.currentPage"
          (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
        </app-pagination>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>