.job-card {
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #283316;
    padding: 5px;
    padding-bottom: 15px;
}

.job-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.job-card.mat-card.dark-theme {
    background-color: #333;
    color: #fff;
}

.job-card.mat-card.dark-theme mat-card-header {
    background-color: #555;
}

.job-info, .job-details {
    padding: 10px;
    padding-left: 16px;
}

.job-info-card {
    margin-top: 20px;
    background-color: #eee9e0;
    border-radius: 4px;
    padding: 10px;
}

.job-info h4, .job-details h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
}

.job-info p, .job-details p {
    margin-bottom: 10px;
}

.job-details {
    border-top: 1px solid #ddd;
}

.job-link {
    /* Your custom styles for the <a> tag */
    color: #283316; /* Change the color */
    text-decoration: none; /* Remove underline */
}

:host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #678239; /* Your desired color */
}
