
.job-details-content {
  flex-grow: 1;
}

.top-buttons {
  margin-bottom: 20px;
}

.back-button {
  font-size: 14px;
  padding-left: 0;
  text-align: left;
}

.icon {
  margin-right: 5px;
}

.main-card {
  background-color: #ffffff; /* White background for the card */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
  padding: 20px;
  background-color: white; /* Dark green background for the header */
  color: black; /* White text color */
}

.apply-button {
  margin-right: 15px;
}

.job-info, .job-biography {
  margin-bottom: 20px;
}

.job-info p, .job-biography p {
  margin-bottom: 5px;
}

.bottom-apply-button {
  padding-left: 20px;
}

.mat-form-field-disabled .mat-form-field-wrapper {
  background-color: transparent;
}

.mat-form-field-disabled .mat-form-field-label {
  color: black;
}

.mat-form-field-disabled .mat-form-field-underline {
  background-color: #2196F3;
}

.readonly-input {
  cursor: default;
}

.section-title {
  font-weight: 500;
  color: #004D40;
}
