<div class="container-fluid">
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutGap.xs="5px" fxLayoutAlign="start stretch" fxLayoutWrap>
    
    <!-- User Ads Filter -->
    <div fxFlex="14%" fxHide.lt-md fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="25%" fxFlex.lg="20%" fxLayoutAlign="start">
      <app-user-ads-filter (filterSubmitted)="fetchPaginatedItems($event)"></app-user-ads-filter>
    </div>

    <!-- Job Cards -->
    <div fxFlex fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="75%" fxFlex.lg="80%" fxLayout="column" fxLayoutAlign="start stretch">
      <app-pagination *ngIf="paginationResponse" 
        [listSize]="paginationResponse.pageSize" 
        [totalPages]="paginationResponse.totalPages"
        [page]="paginationResponse.currentPage"
        (pageChange)="onPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)">
      </app-pagination>
      
      <div *ngFor="let job of allJobs$ | async" class="job-link" style="margin-bottom: 10px;">
        <mat-card class="job-card">
          <a class="job-link" [routerLink]="['/ads', job.id]">
            <mat-card-header fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px" fxLayoutWrap>
              <div fxFlex="grow">
                <mat-card-title>{{ job.position }}</mat-card-title>
                <p><span style="font-size: 17px; font-weight: 500;">Ime i prezime:</span> {{ job.applicantFirstName }} {{ job.applicantLastName }}</p>
                <p><span style="font-size: 17px; font-weight: 500;">Kategorija:</span> {{ getCategoryName(job.jobCategoryId) }}</p>
              </div>
              <div fxFlex>
                <p style="min-width: 150px;">
                  <span style="font-weight: 500; font-size: 17px;">Tip Oglasa:</span> {{ getEnumName(job?.advertisementTypeId) }}
                </p>
              </div>
            </mat-card-header>
            <mat-card-content>
              <div class="job-info">
                <p>
                  <ng-container *ngIf="getFormattedDate(job?.applicantDateOfBirth) !== ''">
                    <strong style="font-weight: 500;">Datum rođenja:</strong> {{ getFormattedDate(job?.applicantDateOfBirth) }} &nbsp; &nbsp;
                  </ng-container>
                  <ng-container *ngIf="getFormattedDate(job?.applicantDateOfBirth) === ''">
                    <strong style="font-weight: 500;">Datum rođenja:</strong> Nije unešeno &nbsp; &nbsp;
                  </ng-container>
                
                  <ng-container *ngIf="job?.applicantGender !== ''">
                    <strong style="font-weight: 500;">Spol:</strong> {{ job?.applicantGender }} &nbsp; &nbsp;
                  </ng-container>
                  <ng-container *ngIf="job?.applicantGender === ''">
                    <strong style="font-weight: 500;">Spol:</strong> Nije unešeno &nbsp; &nbsp;
                  </ng-container>
                
                  <ng-container *ngIf="job?.applicantEmail !== ''">
                    <strong style="font-weight: 500;">Email:</strong> {{ job?.applicantEmail }} &nbsp; &nbsp;
                  </ng-container>
                  <ng-container *ngIf="job?.applicantEmail === ''">
                    <strong style="font-weight: 500;">Email:</strong> Nije unešeno &nbsp; &nbsp;
                  </ng-container>
                
                  <ng-container *ngIf="job?.applicantPhoneNumber !== ''">
                    <strong style="font-weight: 500;">Broj telefona:</strong> {{ job?.applicantPhoneNumber }} &nbsp; &nbsp;
                  </ng-container>
                  <ng-container *ngIf="job?.applicantPhoneNumber === ''">
                    <strong style="font-weight: 500;">Broj telefona:</strong> Nije unešeno &nbsp; &nbsp;
                  </ng-container>
                </p>
              </div>
              <div class="job-details">
                <h2>Biografija</h2>
                <p>{{ job.biography | truncate:150:true }}</p>
              </div>
            </mat-card-content>
          </a>
          <div class="job-details">
            <button *ngIf="job.applicantEmail" mat-raised-button (click)="openEmailModal(job.applicantEmail)" color="accent">Kontaktiraj mailom</button>
            <button *ngIf="!job.applicantEmail" mat-raised-button color="warn" disabled>Korisnik nema email</button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
