<div class="my-3" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
    <div fxLayoutAlign="center center">
        <mat-card class="card" fxFlex="70" fxFlex.lt-md="80" fxFlex.lt-sm="95">
            <mat-card-title fxLayoutAlign="center">Prednosti online platforme za zapošljavanje</mat-card-title>
            <mat-card-content>
                <h2>Upoznajte nas</h2>
                <p>Mi smo inovativna platforma koja omogućava povezivanje ljudi u potrazi za poslom i firmi koje traže talentovane pojedince. Naša misija je stvoriti jednostavno i efikasno mjesto gdje korisnici mogu podijeliti svoje karijere i CV-e sa svijetom, te se direktno povezati s poslodavcima.</p>
                
                <h3>Motivacija</h3>
                <p>Naša platforma omogućava svim korisnicima da unaprijede svoje šanse za zaposlenje ili poslovnu saradnju. Ako ste u potrazi za novim poslovnim izazovima ili želite da povećate svoju vidljivost kao kandidat, mi vam pružamo alate koji će vam omogućiti da se istaknete. Ovdje možete postaviti svoj CV, pronaći interesantne poslove, ili jednostavno biti u kontaktu s kompanijama koje traže vaše veštine.</p>

                <h3>Naša Misija</h3>
                <p>Pomoći firmama da brzo i efikasno dođu do kvalifikovanih kandidata, a ljudima da se lako povežu sa poslodavcima koji nude prilike za napredak. Naša platforma je takođe snažan alat za promociju usluga – kompanijama omogućavamo da postave oglase za svoje usluge i proizvode, a sve to s ciljem da podrže profesionalni rast i razvoj na tržištu rada.</p>

                <h3>Šta Nudimo:</h3>
                <ul>
                    <li><strong>Objavite svoj CV:</strong> Ako ste u potrazi za poslom, jednostavno postavite svoj CV na našu platformu. Firme vas mogu pronaći i kontaktirati direktno putem e-maila.</li>
                    <li><strong>Objavite oglase:</strong> Ako ste firma koja nudi usluge ili traži talente, možete objaviti oglase za svoje proizvode ili usluge i lako doći do novih klijenata ili zaposlenika.</li>
                    <li><strong>Objavite poslove:</strong> Ako ste firma koja traži zaposlene, možete postaviti oglase za posao, omogućavajući kandidatima da se prijave direktno putem naše platforme.</li>
                </ul>

                <h3>Zašto Nas Odabrati?</h3>
                <ul>
                    <li><strong>Jednostavno za korištenje:</strong> Naša platforma je jednostavna za navigaciju, omogućavajući korisnicima da brzo postave svoj CV ili oglase.</li>
                    <li><strong>Povezivanje sa poslodavcima i kandidatima:</strong> Mi smo most između poslodavaca i onih koji traže posao, čineći proces zapošljavanja bržim i jednostavnijim.</li>
                    <li><strong>Sve na jednom mjestu:</strong> Naša platforma nudi sve alate koji su vam potrebni, od postavljanja oglasa, do prijave za poslove i unosa vašeg profesionalnog profila.</li>
                </ul>

                <p>Pozivamo vas da se pridružite našoj zajednici i iskoristite prilike koje vam nudimo!</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
