<div class="container">
  <div fxLayout="column">
    <div fxLayout="column">
      <div
        style="width: 100%; display: flex; flex-direction: column; align-items: center; gap: 20px; margin-top: 20px;">
        <mat-card style="border: 1px solid #283316; display: flex; justify-content: center; 
             text-align: center; padding: 20px; width: 100%; max-width: 600px; background-color: #eee9e0;">
          <h1 style="color: #283316; font-weight: 500; margin: 0;">Otvoreni oglasi za posao od strane kompanija</h1>
        </mat-card>
        <button (click)="toggleFilters()" style="border-radius: 25px; width: 220px; background-color: #283316; 
             color: white; padding: 12px 18px; border: none; cursor: pointer;
             display: flex; align-items: center; justify-content: center; 
             gap: 10px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
          <mat-icon *ngIf="showFilters" style="font-size: 24px;">filter_list</mat-icon>
          <mat-icon *ngIf="!showFilters" style="font-size: 24px;">filter_alt</mat-icon>
          <span style="font-size: 16px; font-weight: 500;">
            {{ showFilters ? 'Sakrij Filtere' : 'Prikaži Filtere' }}
          </span>
        </button>
      </div>
      <!-- User Ads Filter -->
      <div *ngIf="showFilters">
        <app-user-ads-filter (filterSubmitted)="fetchPaginatedItems($event)"></app-user-ads-filter>
      </div>

      <!-- Job Cards -->
      <div fxFlex fxLayout="column" fxLayoutAlign="start stretch" style="margin-top: 15px;">
        <div #itemListContainer style="margin-bottom: 20px; margin-top: 20px; display: flex; text-align: center; justify-content: space-between;">
          <h1 style="color: #283316; font-weight: 500;">Rezultati pretrage</h1>
        
          <!-- Toggle Button with Icons -->
          <button 
            (click)="toggleView()" 
            style="margin-left: 20px; border-radius: 4px; background-color: #283316; 
                   color: white; padding: 2px 8px; border: none; cursor: pointer; 
                   display: flex; align-items: center;">
                   
            <mat-icon *ngIf="isGridView" style="margin-right: 5px;">grid_view</mat-icon> <!-- Icon for List View -->
            <mat-icon *ngIf="!isGridView" style="margin-right: 5px;">view_list</mat-icon> <!-- Icon for Grid View -->
            
            <span *ngIf="isGridView">Blokovi</span>
            <span *ngIf="!isGridView">Lista</span>
          </button>
        </div>
        <div [ngClass]="{'container': isGridView}" [ngStyle]="{'margin-bottom': isGridView ? '200px' : '0px'}">
          <div *ngFor="let job of allJobs$ | async" class="job-link" [ngStyle]="{'margin-bottom': '0px', 'max-height': isGridView ? '430px' : 'none'}">
            <app-base-ad-card [job]="job" />
          </div>
        </div>

      </div>
    </div>
    <app-pagination *ngIf="paginationResponse" [listSize]="paginationResponse.pageSize"
      [totalPages]="paginationResponse.totalPages" [page]="paginationResponse.currentPage"
      (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
    </app-pagination>
  </div>