<div class="container">
  <div fxLayout="column">
    <div fxLayout="column">
      <div
        style="width: 100%; display: flex; flex-direction: column; align-items: center; gap: 20px; margin-top: 20px;">
        <mat-card style="border: 1px solid #283316; display: flex; justify-content: center; 
             text-align: center; padding: 20px; width: 100%; max-width: 600px; background-color: #eee9e0;">
          <h1 style="color: #283316; font-weight: 500; margin: 0;">Otvoreni oglasi za posao od strane kompanija</h1>
        </mat-card>
        <button (click)="toggleFilters()" style="border-radius: 25px; width: 220px; background-color: #283316; 
             color: white; padding: 12px 18px; border: none; cursor: pointer;
             display: flex; align-items: center; justify-content: center; 
             gap: 10px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
          <mat-icon *ngIf="showFilters" style="font-size: 24px;">filter_list</mat-icon>
          <mat-icon *ngIf="!showFilters" style="font-size: 24px;">filter_alt</mat-icon>
          <span style="font-size: 16px; font-weight: 500;">
            {{ showFilters ? 'Sakrij Filtere' : 'Prikaži Filtere' }}
          </span>
        </button>
      </div>
      <!-- User Ads Filter -->
      <div *ngIf="showFilters">
        <app-user-ads-filter (filterSubmitted)="fetchPaginatedItems($event)"></app-user-ads-filter>
      </div>

      <!-- Job Cards -->
      <div fxFlex fxLayout="column" fxLayoutAlign="start stretch" style="margin-top: 50px;">
        <div style="margin-bottom: 20px; margin-top: 20px; display: flex; text-align: center; justify-content: center;">
          <h1 style="color: #283316; font-weight: 500;">Rezultati pretrage</h1>
        </div>

        <div *ngFor="let job of allJobs$ | async" class="job-link" style="margin-bottom: 10px;">
          <mat-card class="job-card">
            <a class="job-link" [routerLink]="['/company-job-ads', job.id]">
              <mat-card-header fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px" fxLayoutWrap>
                <div fxFlex="grow">
                  <mat-card-title>{{ job.adName }}</mat-card-title>
                  <p><span style="font-size: 17px; font-weight: 500;">Pozicija:</span> {{ job.position }}</p>
                  <p><span style="font-size: 17px; font-weight: 500;">Kategorija:</span> {{
                    getCategoryName(job.jobCategoryId) }}</p>
                  <p><span style="font-size: 17px; font-weight: 500;">Tip posla:</span> {{ getJobType(job.jobTypeId) }}
                  </p>
                  <p><span style="font-size: 17px; font-weight: 500;">Opis posla:</span> {{ job.jobDescription }}</p>
                </div>
              </mat-card-header>
            </a>
            <div class="job-details">
              <button *ngIf="job.emailForReceivingApplications" mat-raised-button
                style="background-color: #B2DFDB; color: #283316;"
                (click)="openSubmitApplicationModal(job.emailForReceivingApplications)" color="accent">Prijavi
                se</button>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <app-pagination *ngIf="paginationResponse" [listSize]="paginationResponse.pageSize"
      [totalPages]="paginationResponse.totalPages" [page]="paginationResponse.currentPage"
      (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
    </app-pagination>
  </div>