<div class="container">
  <div fxLayout="column">
    <div fxLayout="column">
      <mat-card style="border:1px solid #004D40; margin-bottom: 30px; margin-top: 20px; display: flex; text-align: center; justify-content: center;">
        <h1 style="color: #004D40; font-weight: 500;">Otvoreni oglasi za posao od strane kompanija</h1>
      </mat-card>
      <!-- User Ads Filter -->
      <div>
        <app-user-ads-filter (filterSubmitted)="fetchPaginatedItems($event)"></app-user-ads-filter>
      </div>
  
      <!-- Job Cards -->
      <div fxFlex fxLayout="column" fxLayoutAlign="start stretch" style="margin-top: 50px;">
        <div style="margin-bottom: 20px; margin-top: 20px; display: flex; text-align: center; justify-content: center;">
          <h1 style="color: #004D40; font-weight: 500;">Rezultati pretrage</h1>
        </div>
        
        <div *ngFor="let job of allJobs$ | async" class="job-link" style="margin-bottom: 10px;">
          <mat-card class="job-card">
            <a class="job-link" [routerLink]="['/company-job-ads', job.id]">
              <mat-card-header fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px" fxLayoutWrap>
                <div fxFlex="grow">
                  <mat-card-title>{{ job.adName }}</mat-card-title>
                  <p><span style="font-size: 17px; font-weight: 500;">Pozicija:</span> {{ job.position }}</p>
                  <p><span style="font-size: 17px; font-weight: 500;">Kategorija:</span> {{ getCategoryName(job.jobCategoryId) }}</p>
                  <p><span style="font-size: 17px; font-weight: 500;">Tip posla:</span> {{ getJobType(job.jobTypeId) }}</p>
                  <p><span style="font-size: 17px; font-weight: 500;">Opis posla:</span> {{ job.jobDescription }}</p>
                </div>
              </mat-card-header>
            </a>
            <div class="job-details">
              <button *ngIf="job.emailForReceivingApplications" mat-raised-button style="background-color: #B2DFDB; color: #004D40;" (click)="openSubmitApplicationModal(job.emailForReceivingApplications)" color="accent">Prijavi se</button>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <app-pagination *ngIf="paginationResponse" 
    [listSize]="paginationResponse.pageSize" 
    [totalPages]="paginationResponse.totalPages"
    [page]="paginationResponse.currentPage"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)">
  </app-pagination>
  </div>
  