<mat-sidenav-container class="sidenav-container" style="min-height: 100vh;">
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <div fxLayout="row" fxLayoutGap="1%" fxFlexFill fxLayoutAlign="space-between center">
          <div>
            <span class="brand" routerLink="/">ZaposliMe</span>
          </div>
          <div fxLayout="row" fxLayoutGap="1%" class="pe-4">
            <div>
              <span class="brand" [routerLink]="['/create-job-ad']">Kreiraj Oglas</span>
            </div>
            <span class="separator">|</span>
            <div>
              <span class="brand" [routerLink]="['/company-create-job-ad']">Kreiraj Oglas za Posao</span>
            </div>
            <span class="separator">|</span>
            <div>
              <span class="brand" [routerLink]="['/create-service-ad']">Kreiraj Uslugu</span>
            </div>
            <span class="separator">|</span>
            <div>
              <span class="brand" [routerLink]="['/ads']" [queryParams]="{ type: getEnumName(AdvertisementTypeEnum.JobAd) }">Pretraži Oglase</span>
            </div>
            <span class="separator">|</span>
            <div>
              <span class="brand" [routerLink]="['/ads']" [queryParams]="{ type: getEnumName(AdvertisementTypeEnum.Service) }">Pretraži Usluge</span>
            </div>
            <span class="separator">|</span>
            <div>
              <span class="brand" [routerLink]="['/company-job-ads']">Pretraži oglase od kompanija</span>
            </div>
            <!-- <span class="separator">|</span>
            <div>
              <span class="brand" routerLink="/about">O nama</span>
            </div>
            <span class="separator">|</span>
            <div>
              <span class="brand" routerLink="/contact-us">Kontakt</span>
            </div> -->
          </div>
          
          
          <div fxLayout="row" fxLayoutGap="2%" class="pe-4">
            <span *ngIf="!user" class="nav-item brand" routerLink="/login">
              Prijavi se
            </span>
            <span class="separator" *ngIf="!user">|</span>
            <span *ngIf="!user" class="nav-item brand" routerLink="/register">
              Registracija
            </span>
            <button *ngIf="user" mat-icon-button [matMenuTriggerFor]="navMenu">
              <img class="profile" src="{{user.photoUrl || './assets/images/profile.png'}}" alt="Profile">
              <mat-icon>arrow_drop_down</mat-icon>
            </button>

            <mat-menu #navMenu="matMenu">
              <button mat-menu-item [routerLink]="user?.roles.includes('Company') ? '/company-my-ads' : '/my-ads'">{{ user?.roles.includes('Company') ? 'Objave kompanije' : 'Moje objave' }}</button>
              <button mat-menu-item [routerLink]="user?.roles.includes('Company') ? '/edit-company-profile' : '/edit-profile'">
                {{ user?.roles.includes('Company') ? 'Uredi profil kompanije' : 'Uredi profil' }}
              </button>
              
              <button mat-menu-item (click)="logout()">Odjavi se</button>
            </mat-menu>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-scroll-to-top></app-scroll-to-top>