/* .sidenav-container {
  height: 100%;
} */

.sidenav {
  min-width: 220px;
  width: 20vw;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.brand {
  cursor: pointer;
}

.active-link {
  text-decoration: underline;
}

.mat-list-item.active-link {
  background-color: #283316;
  color: white !important;
  text-decoration: none;
}

/* Optional: Ensure text color is white when active */
.mat-list-item.active-link a {
  color: white;
}
.user-controls {
  display: flex;
  align-items: center;
  gap: 12px; /* Increased gap for better spacing */
}

.credits-button {
  color: #283316; /* Change text color for better visibility */
  background-color: #edd79c; /* Add background color */
  cursor: pointer;
  height: 40px;
  padding: 0 12px;
  border: none;
  border-radius: 20px; /* Slightly rounder corners */
  font-weight: normal; /* Make the font bold */
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add subtle shadow for depth */
}

.credits-button mat-icon {
  margin-right: 8px; /* Space between icon and text */
}

.credits-button:hover {
  background-color: #d8b98c; /* Lighter background on hover */
  color: #283316; /* Darker text on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-button {
  display: flex;
  align-items: center;
  color: #283316;
}

.profile-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 8px; /* Adjust spacing between icon and profile */
  border: 2px solid #283316; /* Optional: Add border to the profile image */
}

.arrow-icon {
  margin-left: 5px; /* Space between profile icon and arrow */
}

.sidenav {
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  padding: 16px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  justify-content: center;
}

.user-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 16px;
}
