<div class="container">
  <mat-card style="border: 1px solid #004D40; margin-bottom: 30px; margin-top: 20px; display: flex; text-align: center; justify-content: center;">
    <h1 style="color: #004D40; font-weight: 500;">Oglasi kompanije</h1>
  </mat-card> 
  <mat-card>
    <mat-tab-group (selectedIndexChange)="onTabChange($event)" [(selectedIndex)]="selectedTabIndex">
      <mat-tab label="Aktivni oglasi">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutGap.xs="5px" fxLayoutAlign="start stretch" fxLayoutWrap>
          <!-- Job Cards for Active Ads -->
          <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
            <div *ngFor="let job of allJobs$ | async" class="job-link" style="margin-bottom: 10px;">
              <mat-card class="job-card">
                <mat-card-header fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px" fxLayoutWrap>
                  <div fxFlex="grow">
                    <mat-card-title>{{ job.position }}</mat-card-title>
                    <p><span style="font-size: 17px; font-weight: 500;">Naslov:</span> {{ job.adName }}</p>
                    <p><span style="font-size: 17px; font-weight: 500;">Kategorija:</span> {{ getCategoryName(job.jobCategoryId)}}</p>
                    <p><span style="font-size: 17px; font-weight: 500;">Lokacija:</span> {{ getJobType(job.jobTypeId) }}</p>
                  </div>
                  <div fxFlex>
                    <p style="min-width: 200px;">
                      <span style="font-weight: 500; font-size: 17px;">Status Oglasa:</span> {{ getStatusEnumValue(job?.jobPostStatusId) }}
                    </p>
                  </div>
                </mat-card-header>
                <mat-card-actions>
                  <button mat-button style="color:#004D40;" [routerLink]="['/company-my-ads', job.id]">Uredi oglas</button>
                  <button mat-button color="dark" (click)="closeAd($event, job.id)">Završi oglas</button>
                  <button mat-button color="warn" (click)="deleteAd($event, job.id)">Obriši oglas</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Završeni oglasi">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutGap.xs="5px" fxLayoutAlign="start stretch" fxLayoutWrap>
          <!-- Job Cards for Completed Ads -->
          <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
            <div *ngFor="let job of completedJobs$ | async" class="job-link" style="margin-bottom: 10px;">
              <mat-card class="job-card">
                <mat-card-header fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px" fxLayoutWrap>
                  <div fxFlex="grow">
                    <mat-card-title>{{ job.position }}</mat-card-title>
                    <p><span style="font-size: 17px; font-weight: 500;">Naslov:</span> {{ job.adName }}</p>
                    <p><span style="font-size: 17px; font-weight: 500;">Kategorija:</span> {{ getCategoryName(jobCategories, jobCategoryId) }}</p>
                    <p><span style="font-size: 17px; font-weight: 500;">Lokacija:</span> {{ getJobType(jobTypes, job.jobTypeId) }}</p>
                  </div>
                  <div fxFlex>
                    <p style="min-width: 200px;">
                      <span style="font-weight: 500; font-size: 17px;">Status Oglasa:</span> {{ getStatusEnumValue(job?.jobPostStatusId) }}
                    </p>
                  </div>
                </mat-card-header>
                <mat-card-actions>
                  <button mat-button style="color:#004D40;" [routerLink]="['/company-my-ads', job.id]">Uredi objavu</button>
                  <button mat-button color="dark" (click)="reactivateAd($event, job.id)">Reaktiviraj oglas</button>
                  <button mat-button color="warn" (click)="deleteAd($event, job.id)">Obriši oglas</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <app-pagination *ngIf="paginationResponse" 
    [listSize]="paginationResponse.pageSize" 
    [totalPages]="paginationResponse.totalPages"
    [page]="paginationResponse.currentPage"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)">
  </app-pagination>
  </mat-card>
  </div>
  