<div class="my-5" fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxLayout="column" fxLayoutGap="20px" fxFlex="95" style="min-height: 40vh;min-width: 50vw">
        <h1 class="mt-4 text-center">Greška</h1>
        <i>*Probajte osvježiti stranicu!</i>
        <h3>{{message}}</h3>
        <code style="white-space: pre-line;">{{message}}{{details}}</code>
        <div class="text-center" fxLayoutGap="20px">
            <button mat-raised-button routerLink="/" color="warn">Početna</button>
            <button *ngIf="!(accountService.user$ | async)" mat-raised-button routerLink="/login"
            style="background-color: #283316; color: white;">Prijava</button>
            
        </div>
    </mat-card>
</div>