<div *ngIf="user" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" style="margin-top: 50px;">
    <div fxLayoutAlign="center center">
        <!-- <mat-card *ngIf="(accountService.user$ | async) as userInfo" class="text-center" fxFlex="200px"> -->
            <!-- <div class="edit-photo">
                <img src="{{userInfo.photoUrl || './assets/images/profile.png'}}" alt="" class="rounded-circle"
                    width="128">
                <button color="primary" [matMenuTriggerFor]="menu" mat-mini-fab>
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <input type="file" #file style="display:none" accept=".jpg,.png,.gif"
                (change)="changePhoto($event.target.files)">
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="file.click()">
                    Promijeni
                </button>
                <button [disabled]="!userInfo.photoUrl" mat-menu-item (click)="removePhoto()">
                    Ukloni
                </button>
            </mat-menu> -->
            <!-- <div fxLayout="row" fxLayoutAlign="space-between center">
                <h3 color="primary">User Id</h3>
                <mat-card-subtitle>{{user.id}}</mat-card-subtitle>
            </div> -->
        <!-- </mat-card> -->
    </div>
    <div fxLayoutAlign="center center">
        <mat-card class="text-center" fxFlex="60" fxFlex.lt-sm="90" fxFlex.lt-md="80" fxFlex.lt-lg="70"
            style="margin-bottom: 2px; border: 1px solid #283316;">
            <h2 style="color: #283316;">Uredi Profil</h2>
            <mat-card-content class="mt-3">
                <form [formGroup]="profileUpdate" (ngSubmit)="onSubmit()" autocomplete="off">
                    <div style="border-bottom: 1px solid #283316; margin-bottom: 20px; padding-bottom: 20px;"
                        fxLayout="row wrap" fxLayoutAlign="space-around center">
                        <mat-card-subtitle fxFlex="95" fxLayoutAlign="start"
                            style="font-weight: 500; color: #283316; border-bottom: 1px solid #283316;">Lični
                            podaci</mat-card-subtitle>
                        <app-input fxFlex="45" fxFlex.lt-sm="90" label="Ime"
                            [formControl]="profileUpdate.get('firstName')">
                        </app-input>
                        <app-input fxFlex="45" fxFlex.lt-sm="90" label="Prezime"
                            [formControl]="profileUpdate.get('lastName')">
                        </app-input>
                        <app-input fxFlex="45" fxFlex.lt-sm="90" label="Korisničko ime"
                            [formControl]="profileUpdate.get('userName')">
                        </app-input>
                        <app-input fxFlex="45" fxFlex.lt-sm="90" label="Email" type="email"
                            [formControl]="profileUpdate.get('email')">
                        </app-input>
                        <app-input fxFlex="45" fxFlex.lt-sm="90" label="Mobitel"
                            [formControl]="profileUpdate.get('phoneNumber')">
                        </app-input>
                        <!-- <mat-form-field  fxFlex="45" fxFlex.lt-sm="90" appearance="outline" style="width: 100%;">
                                <mat-label>Država</mat-label>
                                <input type="text" matInput name="Država" placeholder="Država" value="Bosna i  Hercegovina" disabled>
                            </mat-form-field> -->
                        <mat-form-field fxFlex="45" fxFlex.lt-sm="90" appearance="outline">
                            <mat-label>Grad</mat-label>
                            <mat-select formControlName="cityId" placeholder="Grad">
                                <mat-option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="profileUpdate.get('cityId').invalid">Potrebno je da unesete
                                grad</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="45" fxFlex.lt-sm="90" appearance="outline">
                            <mat-label>Spol</mat-label>
                            <mat-select formControlName="gender" placeholder="Odaberite spol">
                                <mat-option *ngFor="let gender of genders" [value]="gender">{{ genderName(gender)
                                    }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="profileUpdate.get('gender').invalid">Potrebno je da unesete
                                spol</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="45" fxFlex.lt-sm="90" appearance="outline">
                            <mat-label>Datum rođenja</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                            <mat-error *ngIf="profileUpdate.get('dateOfBirth').invalid">Potrebno je da unesete datum
                                rođenja
                            </mat-error>
                        </mat-form-field>

                        <mat-card-subtitle fxFlex="95" fxLayoutAlign="start"
                            style="font-weight: 500; color: #283316; border-bottom: 1px solid #283316;">Dodatni
                            podaci(neobavezno)</mat-card-subtitle>
                        <mat-form-field fxFlex="45" fxFlex.lt-sm="90" appearance="outline">
                            <mat-label>Kategorija posla</mat-label>
                            <mat-select formControlName="jobCategoryId"
                                placeholder="Unesite kategoriju posla kojim se bavite ili biste se voljeli baviti">
                                <mat-option *ngFor="let jobCategory of jobCategories" [value]="jobCategory.id">{{
                                    jobCategory.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="45" fxFlex.lt-sm="90" appearance="outline">
                            <mat-label>Tip posla</mat-label>
                            <mat-select formControlName="jobTypeId"
                                placeholder="Unesite tip posla kojim se bavite ili biste se voljeli baviti">
                                <mat-option *ngFor="let jobType of jobTypes" [value]="jobType.id">{{ jobType.name
                                    }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxFlex="95" appearance="outline" class="full-width">
                            <mat-label>Pozicija</mat-label>
                            <input matInput type="text" formControlName="position" placeholder="Unesite poziciju"
                                required />
                        </mat-form-field>

                        <mat-form-field fxFlex="95" appearance="outline" class="full-width">
                            <mat-label>Biografija</mat-label>
                            <textarea matInput formControlName="biography" rows="4" placeholder="Unesite biografiju"
                                required></textarea>
                        </mat-form-field>

                        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="95" fxFlex.lt-sm="90"
                            style="margin-bottom: 20px;">
                            <!-- Upload Button and Selected File in One Row -->
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                <!-- Styled File Input -->
                                <button mat-raised-button style="background-color: #c5b391;" (click)="fileInput.click()" type="button">
                                    <mat-icon>attach_file</mat-icon> Učitaj CV
                                </button>
                                <input #fileInput type="file" (change)="onFileSelected($event)"
                                    accept=".pdf, .doc, .docx, .txt, .jpg, .png, .xlsx, .pptx" hidden />

                                <!-- Show Selected File Name with Remove Option -->
                                <div *ngIf="selectedFileName" fxLayout="row" fxLayoutAlign="start center"
                                    (click)="openFilePreview()" style="cursor: pointer;">
                                    <mat-icon>description</mat-icon>
                                    <span class="selected-file-text">Odabrani CV: {{ selectedFileName }}</span>
                                    <button mat-icon-button color="warn" (click)="removeSelectedFile($event)">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                                <button type="button" *ngIf="user.cvFilePath" mat-raised-button style="margin-left: 10px; color: #B2DFDB; background-color: #283316;" (click)="previewUserCV(user.cvFilePath)"
                                color="accent">Pregledaj CV
                              </button>
                              <button type="button" *ngIf="user.cvFilePath" mat-raised-button color="warn" style="margin-left: 10px;" (click)="deleteExistingFile($event)">
                                <mat-icon>delete</mat-icon> Obriši CV
                              </button>
                            </div>
                        </div>

                        <!-- PDF Preview Modal -->
                        <ng-template #filePreviewModal let-dialogRef="dialogRef">
                            <div fxLayout="column">
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <h2 mat-dialog-title style="margin: 0;">Pregled učitanog CV-a</h2>
                                    <button mat-icon-button style="margin-bottom: 20px;" (click)="dialogRef.close()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>

                                <mat-dialog-content>
                                    <ngx-doc-viewer [url]="selectedFilePath" viewer="pdf"
                                        style="width: 100%; height: 800px;"></ngx-doc-viewer>
                                </mat-dialog-content>

                                <mat-dialog-actions align="end">
                                    <button mat-button mat-dialog-close>Zatvori</button>
                                </mat-dialog-actions>
                            </div>
                        </ng-template>

                        <ng-container formArrayName="userEducations">
                            <ng-container *ngFor="let education of userEducations.controls; let i = index"
                                [formGroupName]="i">
                                <ng-container style="margin-top: 20px">
                                    <div fxLayout="column" style="margin-bottom: 15px; background-color: #faf0e6; padding: 20px; border-radius: 4px; border: 1px solid #283316; width: 100%;">
                                        <h4 fxFlex="100">Obrazovanje {{ i + 1 }}</h4>
                                        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px" fxLayoutAlign="start center">
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>Univerzitet</mat-label>
                                                <input matInput type="text" formControlName="university"
                                                    placeholder="Unesite univerzitet" required>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>Fakultet</mat-label>
                                                <input matInput type="text" formControlName="institutionName"
                                                    placeholder="Unesite fakultet" required>
                                            </mat-form-field>
                                        </div>
                                        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px" fxLayoutAlign="start center">
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>Odsjek</mat-label>
                                                <input matInput type="text" formControlName="fieldOfStudy"
                                                    placeholder="Unesite odsjek" required>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>Zvanje</mat-label>
                                                <input matInput type="text" formControlName="degree"
                                                    placeholder="Unesite zvanje" required>
                                            </mat-form-field>
                                        </div>
                                        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px" fxLayoutAlign="start center">
                                            <mat-form-field fxFlex="45" fxFlex.lt-sm="90" appearance="outline">
                                                <mat-label>Godina početka studija</mat-label>
                                                <input matInput type="number" formControlName="educationStartYear"
                                                    placeholder="Unesite godinu početka studija" required>
                                            </mat-form-field>
                                            <mat-form-field fxFlex="45" fxFlex.lt-sm="90" appearance="outline">
                                                <mat-label>Godina kraja studija (neobavezno)</mat-label>
                                                <input matInput type="number" formControlName="educationEndYear"
                                                    placeholder="Unesite godinu završetka studija">
                                            </mat-form-field>
                                        </div>
  
                                        <div fxFlex style="justify-content: center;">
                                            <button style="background-color: #FF5722; color: white; width: 150px;" mat-button
                                            type="button" (click)="openCancelConfirmationModal(i)" color="warn">Ukloni
                                            obrazovanje</button>
                                        </div>

                                    </div>
                                      </ng-container>
                            </ng-container>
                        </ng-container>


                        <div fxFlex style="justify-content: center;">
                            <button mat-stroked-button type="button" style="background-color:#283316;margin-bottom: 25px; margin-top: 15px; color: #c5b391; max-width: 150px;"
                            (click)="addEducation()">Dodaj
                            obrazovanje</button>
                          </div>
                        <!-- <button mat-flat-button fxFlex="45" fxLayoutAlign="start" fxFlex.lt-sm="90" color="accent"
                                type="submit">
                                Dodaj obrazovanje
                            </button> -->
                    </div>
                    <button mat-flat-button style="width: 150px" [disabled]="!profileUpdate.valid || profileUpdate.pristine"
                        [ngStyle]="{'background-color': !profileUpdate.valid || profileUpdate.pristine ? '' : '#283316', 'color': !profileUpdate.valid || profileUpdate.pristine ? '' : '#c5b391'}"
                        type="submit">
                        Ažuriraj
                    </button>

                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>