<div class="job-details-container" style="margin-bottom:30px;">
  <div class="job-details-content">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <button mat-button class="back-button" backButton>
        <mat-icon class="icon">arrow_back</mat-icon>
        <span>Nazad</span>
      </button>
      <div *ngIf="prevNextButtonVisible" class="navigation-buttons">
        <span>{{ currentItemIndex + 1 }} od {{ totalItems }}</span>
        <button mat-icon-button (click)="moveToPrevious()" [disabled]="currentItemIndex === 0">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-icon-button (click)="moveToNext()" [disabled]="currentItemIndex === totalItems - 1">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>

    <ng-container *ngIf="job != null && job != undefined">
      <div style="display: flex; justify-content: center;">
        <h1 *ngIf="job.advertisementTypeId == 1" class="section-title">Detalji aplikanta</h1>
        <h1 *ngIf="job.advertisementTypeId == 2" class="section-title">Detalji servisa</h1>
      </div>

      <mat-card style="border: 1px solid #283316">
        <mat-card-header fxLayout="row" fxLayoutAlign="space-between" style="background-color: #283316; color: white; padding: 10px; border-radius: 8px;">
          <div fxFlex="grow">
            <h2>{{job.adTitle}}</h2>
            <h2>{{ job?.position }}</h2>
            <h4><strong>Tip oglasa -</strong> {{ getEnumName(job?.advertisementTypeId) }}</h4>
            <h4><strong>Datum početka objave -</strong> {{ job?.adStartDate | date: 'dd.MM.yyyy' }}</h4>
            <h4><strong>Datum kraja objave -</strong> {{ job?.adEndDate | date: 'dd.MM.yyyy' }}</h4>
          </div>
          <div fxFlex class="contact-buttons">
            <mat-card-actions>
              <button *ngIf="job?.applicantEmail" mat-raised-button class="email-button" (click)="openEmailModal(job?.applicantEmail)"><mat-icon class="email-icon">email</mat-icon>
                <span class="button-text">Kontaktiraj mailom</span></button>
              <button *ngIf="!job?.applicantEmail" mat-raised-button color="warn" disabled>Korisnik nema email</button>
            </mat-card-actions>
          </div>
        </mat-card-header>

        <mat-card-content class="job-card-content">
          <div class="job-info">
            <h2 class="subsection-title">Osnovni podaci</h2>
            <p>
              <ng-container>
                <strong>Ime i prezime:</strong> {{ job?.applicantFirstName }} {{ job?.applicantLastName }} &nbsp; &nbsp;
              </ng-container>
              <ng-container *ngIf="getFormattedDate(job?.applicantDateOfBirth) !== ''">
                <strong>Datum rođenja:</strong> {{ getFormattedDate(job?.applicantDateOfBirth) }} &nbsp; &nbsp;
              </ng-container>
              <ng-container *ngIf="getFormattedDate(job?.applicantDateOfBirth) === ''">
                <strong>Datum rođenja:</strong> Nije unešeno &nbsp; &nbsp;
              </ng-container>
              <ng-container *ngIf="job?.applicantGender !== ''">
                <strong>Spol:</strong> {{ job?.applicantGender }} &nbsp; &nbsp;
              </ng-container>
              <ng-container *ngIf="job?.applicantGender === ''">
                <strong>Spol:</strong> Nije unešeno &nbsp; &nbsp;
              </ng-container>
              <ng-container *ngIf="job?.applicantEmail !== ''">
                <strong>Email:</strong> {{ job?.applicantEmail }} &nbsp; &nbsp;
              </ng-container>
              <ng-container *ngIf="job?.applicantEmail === ''">
                <strong>Email:</strong> Nije unešeno &nbsp; &nbsp;
              </ng-container>
              <ng-container *ngIf="job?.applicantPhoneNumber !== ''">
                <strong>Broj telefona:</strong> {{ job?.applicantPhoneNumber }} &nbsp; &nbsp;
              </ng-container>
              <ng-container *ngIf="job?.applicantPhoneNumber === ''">
                <strong>Broj telefona:</strong> Nije unešeno &nbsp; &nbsp;
              </ng-container>
            </p>
          </div>
          <div class="job-info">
            <h2 class="subsection-title">Dodatni opis</h2>
            <p>{{ job.adAdditionalDescription }}</p>
          </div>
          <div class="job-biography">
            <h2 class="subsection-title">Biografija</h2>
            <p>{{ job?.biography }}</p>
          </div>
          <div class="job-info">
            <h2 class="subsection-title">Obrazovanja</h2>
            <div *ngIf="job?.applicantEducations && job?.applicantEducations.length > 0; else noEducation">
              <div *ngFor="let education of job?.applicantEducations; let i = index">
                <div>
                  <h4><strong>Obrazovanje {{ i + 1 }}</strong></h4>
                  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <p><strong>Univerzitet:</strong> {{ education.university }}</p>
                    <p><strong>Fakultet:</strong> {{ education.institutionName }}</p>
                    <p><strong>Odsjek:</strong> {{ education.fieldOfStudy }}</p>
                    <p><strong>Zvanje:</strong> {{ education.degree }}</p>
                    <p>
                      <strong>Period obrazovanja:</strong>
                      {{ education.educationStartYear }} -
                      {{ education.educationEndYear ? education.educationEndYear : 'U toku' }}
                    </p>
                  </div>
                  <mat-divider class="education-divider"></mat-divider>
                </div>
              </div>
            </div>
          </div>

          <ng-template #noEducation>
            <p>Nema obrazovanja</p>
          </ng-template>
        </mat-card-content>
        <mat-card-actions class="bottom-contact-buttons">
          <button style="margin-bottom: 10px;" *ngIf="job?.applicantEmail" mat-raised-button class="email-button" (click)="openEmailModal(job?.applicantEmail)"><mat-icon class="email-icon">email</mat-icon>
            <span class="button-text">Kontaktiraj mailom</span></button>
          <button *ngIf="!job?.applicantEmail" mat-raised-button color="warn" disabled>Korisnik nema email</button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</div>
