

.job-details-content {
  flex-grow: 1;
}

.back-button {
  font-size: 14px;
  padding-left: 0;
  margin-bottom: 10px;
  text-align: left;
}

.icon {
  margin-right: 5px;
}

.navigation-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-title {
  font-weight: 500;
  color: #283316;
}

.contact-buttons {
  margin-right: 15px;
}

.job-card-content {
  margin-top: 25px;
  padding-left: 34px;
}

.job-info,
.job-biography {
  margin-bottom: 20px;
}

.job-info p,
.job-biography p {
  margin-bottom: 5px;
}

.subsection-title {
  border-bottom: 1px solid #ddd;
  color: #283316;
}

.education-divider {
  margin-bottom: 15px;
}

.bottom-contact-buttons {
  padding-left: 34px;
}

.mat-form-field-disabled .mat-form-field-wrapper {
  background-color: transparent; /* Change background color */
}

.mat-form-field-disabled .mat-form-field-label {
  color: black; /* Change label color */
}

.mat-form-field-disabled .mat-form-field-underline {
  background-color: #2196F3; /* Change underline color */
}

.readonly-input {
  cursor: default; /* Prevent cursor change */
}
