<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="text-center" fxFlex="40" fxFlex.lt-sm="90" fxFlex.lt-md="60" fxFlex.lt-lg="50"
              style="margin-bottom: 2px; margin-top: 6%;">
      <mat-card-title class="my-4">Prijavite se</mat-card-title>
      <mat-card-content class="mt-5">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="px-2" fxLayout="column" fxLayoutAlign="center">
            <app-input type="email" fxFlex="45" fxFlex.lt-sm="90" label="Email"
                       [formControl]="loginForm.get('userNameOrEmail')">
            </app-input>
            <app-input type="password" fxFlex="45" fxFlex.lt-sm="90" label="Lozinka" style="margin-bottom: 0px;"
                       [formControl]="loginForm.get('password')">
            </app-input>
            <div fxLayout="row" fxLayoutAlign="end" fxFlex="100">
              <a [routerLink]="'/forgot-password'" class="forgot-password-link">Zaboravljena lozinka?</a>
            </div>
            <button mat-raised-button color="warn" [disabled]="loginForm.invalid" type="submit">
              Prijava
            </button>
          </div>
        </form>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions class="mb-2 px-3">
        <p style="font-weight: 100;">Nemate račun?</p>
        <button mat-flat-button style="background-color: #283316; color: white;"
                routerLink="/register" [queryParams]="{redirectTo:redirectUrl}" type="button">
          Kreiraj račun
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  